<app-login></app-login>
<app-loading *ngIf="ldShow"  ></app-loading>
<!-- <app-disclaimer-message-box [showCloseBtn]="true" [disclaimerOnOff]="disclaimerOnOff" [showCheckBox]="true" ></app-disclaimer-message-box> -->
<app-insert-items *ngIf="showInsert" [point]="point" (closePanel)="showInsert = false; clMap = true;enableEdit = false;"></app-insert-items>
<app-search-toolbar (onTogglePanel)="onPanelChng()" [mobile]="isMobile" (onSelectAddress)="zoomOptions = $event" *ngIf="toolbarShow"></app-search-toolbar>
<app-address-result-panel></app-address-result-panel>
<app-layers-panel *ngIf="showLayers" (enableEdit)="enableEdit = (enableEdit) ? false : true" (layer)="selectLayer = $event;"></app-layers-panel>
<app-esri-map (displayForm)="showInsert = true; point = $event;" [clearMap]="clMap" [enbEdit]="enableEdit" [zoom]="zoomOptions" [layer]="selectLayer" ></app-esri-map>
