<div id="menuPanel" [style.width]="width" class="menuPanel" >
  <!-- <button *ngIf="onBtn" type="button" (click)="onClosePanel()" class="btn btn-warning btn-circle" style="position:absolute;margin-left:288px;z-index:1202;"><i class="glyphicon glyphicon-remove"></i></button> -->
<div class="ulmenu">
      <h3 style="text-align: center">
          <span style="color:#2196f3">Insert</span>
          <span style="color:#D32F2F">Information</span>
      </h3>
</div>

<hr>
<div class="padding20">
    <div id="exTab1" class="container">	
            <ul  class="nav nav-pills">
              <li class="active">
                <a  href="#1a" data-toggle="tab">Main</a>
              </li>
              <li>
                <a href="#2a" data-toggle="tab">Items</a>
              </li>
            </ul>
        
            <div class="tab-content clearfix">
                <div class="tab-pane active" style="background: white;" id="1a">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Date Event</label>
                          <input  [ngClass]="{'has-error': dateError}"  [(ngModel)]="attributes.date" type="date" name="date" class="form-control">
                          <small *ngIf="dateError"  class="form-text text-muted">Please enter date.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Bussiness Name</label>
                          <input  [ngClass]="{'has-error': bNameError}" [(ngModel)]="attributes.bus_name" type="text" class="form-control" name="bus_name" >
                          <small *ngIf="bNameError" class="form-text text-muted">Please enter bussiness name.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Contact Name</label>
                          <input  [ngClass]="{'has-error': cNameError}" [(ngModel)]="attributes.contact_name" type="text" class="form-control" name="con_name">
                          <small *ngIf="cNameError" class="form-text text-muted">Please enter contact name.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Phone</label>
                          <input  [ngClass]="{'has-error': phoneError}" [(ngModel)]="attributes.phone" type="text" class="form-control" name="phone" >
                          <small *ngIf="phoneError" class="form-text text-muted">Please enter phone.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input  [ngClass]="{'has-error': emailError}" [(ngModel)]="attributes.email" type="email" class="form-control" name="email" >
                          <small *ngIf="emailError" class="form-text text-muted">Please enter email address.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Address</label>
                          <input  [ngClass]="{'has-error': addressError}" [(ngModel)]="attributes.address" type="text" class="form-control" name="address"  >
                          <small *ngIf="addressError"  class="form-text text-muted">Please enter address.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">City</label>
                          <input  [ngClass]="{'has-error': cityError}" [(ngModel)]="attributes.city" type="text" class="form-control" name="city" >
                          <small *ngIf="cityError"  class="form-text text-muted">Please enter city.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">State</label>
                          <input  [ngClass]="{'has-error': stateError}" [(ngModel)]="attributes.state" type="text" class="form-control" name="state" >
                          <small *ngIf="stateError"  class="form-text text-muted">Please enter state.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">ZipCode</label>
                          <input  [ngClass]="{'has-error': zipCodeError}" [(ngModel)]="attributes.zipcode" type="text" class="form-control" name="zipcode">
                          <small *ngIf="zipCodeError"  class="form-text text-muted">Please enter zipCode.</small>
                        </div>
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
                        <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
                      </form>
                </div>
                <div class="tab-pane"  style="background: white;" id="2a">
                     <h3>Total: {{totalItems}}</h3>
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Item Name</label>
                          <input type="text" [(ngModel)]="itemname"  [ngClass]="{'has-error': itemNameError}" name="item" class="form-control" required>
                          <small *ngIf="itemNameError" class="form-text text-muted">Please insert name</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quantity</label>
                            <input type="text" [ngClass]="{'has-error': itemQTYError}"  [(ngModel)]="itemqty" name="qty" class="form-control" required>
                            <small *ngIf="itemQTYError" class="form-text text-muted">Please insert quantity</small>
                        </div>
                        <button (click)="onAddItem()"  class="btn btn-primary">Add Item</button>
                    </form>
                    <hr>
                    <table class="table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of attributes.items; let i = index;" >
                            <td><button (click)="onRemoveItem(i)" class="btn btn-danger">Remove</button></td>
                            <td>{{item.name}}</td>
                            <td>{{item.qty}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              
          </div>

</div>
</div>
